.user-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.user-details-card {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 16px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.user-details-card img {
  max-width: 100%;
}

.user-info {
  margin-top: 16px;
}

.back-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}
